@import url('variables.css');
@import url('Sidebar.css');

:root {
    --main-left: var(--sidebar-width);
    --main-width: calc(97% - var(--sidebar-width));
}

/* Dark mode styles */
body.dark .main-content {
  background: var(--light);
}

.main-content {
  position: fixed; /* Make the main content fixed like the Topbar */
  top: 100px; /* Adjust for the height of the Topbar */
  left: var(--main-left); /* Shift to the right by the sidebar width */
  width: var(--main-width); /* Adjust width to account for the sidebar width */
  height: 80vh; /* Full height minus Topbar height */
  
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--grey);
  color: var(--dark);
  overflow-y: auto;
  overflow-x: hidden;

  padding: 16px;
  text-align: center;
}

body.dark .main-content {
  background: var(--grey);
}
.content-main {
    position: relative; /* Set position relative for absolute positioning inside */
    width: 100%;
    height: 100%;
  }
  
  /* Path positioning */
  .Path {
    position: absolute; /* Position the path absolutely inside the parent */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    padding: 0 50px; /* Optional: Add some padding if needed */
  }
  
  .path-left h1{
    margin-left: -45%;
    margin-bottom: 5px;
 }


 .top-border-main-content
 {
    border-top: 2px solid var(--dark);

    margin-top: 7%; /* Adjust margin to accommodate the path */
    padding: 16px;
    width: 100%;
 }
  /* Styling for the clicked content */
  .clicked-content {
    margin-top: 0.000000001%; /* Adjust margin to accommodate the path */
    padding: 0.0001px;
    width: 100%;
    overflow: auto;
  }




  @media (max-width: 768px)
  {
    .top-border-main-content
    {
       border-top: 2px solid var(--dark);
       margin-top: 20%; /* Adjust margin to accommodate the path */

       width: 100%;
    }

    .path-left ul{
        display: none;
     }
  }














/* Adjust when sidebar is small or closed */
.main-content.small {
  left: var(--sidebar-width-small); /* Adjust left position for small sidebar */
  width: calc(97% - var(--sidebar-width-small)); /* Adjust width for small sidebar */
}
