@import url('variables.css');
@import url('Sidebar.css');

:root {
    --spacebetween: 60px;
}

.navbar {
  left: var(--navbar-left); /* Shift navbar to the right by the sidebar width */
  width: var(--navbar-width); /* Adjust width to account for the space */
}

.navbar {
  display: flex;
  justify-content: center; /* Center the content within the navbar */
  align-items: center;
  background: var(--light);
  color: var(--grey);
  padding: 10px 20px;
  color: var(--light);

  position: fixed; /* Make navbar fixed */
  top: 0;
  left: var(--sidebar-width); /* Shift navbar to the right by the sidebar width */
  width: calc(100% - var(--sidebar-width)); /* Adjust width to account for the space */
  z-index: 1000;


}

.navbar-content {
  display: flex;
  justify-content: space-between; /* Spread items evenly */
  align-items: center;
  width: 100%; /* Make sure the content takes full width */
}

.search-toggle, .theme-toggle, .menu-toggle {
  background: none;
  border: none;
  color: var(--dark);
  font-size: 24px;
  cursor: pointer;
}  

.search-form {
  display: flex;
  align-items: center;
}

.search-form input[type="search"] {
  padding: 5px;
  border: 1px solid var(--dark-grey);
  border-radius: 4px;
}

.notification {
  display: flex;
  align-items: center;
  position: relative;
}

.notification .notification-count {
  background-color: var(--danger);
  color: var(--light);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 12px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Dark mode styles */
body.dark .navbar {
  background: var(--light);
}

.navbar.small {
  left: var(--sidebar-width-small); /* Adjust when sidebar is small */
  width: calc(100% - var(--sidebar-width-small));
}
/* When sidebar is closed */
.sidebar.close + .navbar {
  left: var(--sidebar-width-small); /* Shift navbar to the right by the small sidebar width */
  width: calc(100% - var(--sidebar-width-small)); /* Adjust width to account for the space */
}